project:
  type: website

website:
  title: "Digital Divas Project"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    theme:
      - minty
      - brand
    css: styles.css
    toc: true

editor: visual

